{%  extends 'basequeue.html' %}
{% load staticfiles %}

{% block title %}
    {{ '我的预约' }}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/myappoint.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icon.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
      {% if  appointments %}
         {% for order in appointments %}
           <div class="myappiontment">
                <img src="{{ order.product.image.url }}">
                <div class="appointheader">
                    <span>{{ order.product.name }}</span><span>{{ order.ordertime }}</span>
                </div>
                <div class="appointcontent">
                    <span>{{ order.person.name }}</span>
                    <span>创建时间:{{ order.create_time }}</span>
                </div>
                {% if order.isexpried %}
                    <i style="height: 90px;width: 90px;background:url({% static "images/outtime.png" %}) no-repeat;background-size: 90px;position: absolute;right: -10px;top: -10px;;background-position: center;"></i>
                {% endif %}
            </div>
       {% endfor %}
      {% else %}
          <div style="margin-top: 150px;font-size: 16px;text-align: center;color:gray">您还没有预约</div>
      {% endif %}
    </div>
{% endblock %}